In [1]:
#copy vs deepcopy
import copy

In [1]:
selection = []
if selection:
    print("AAA")
else:
    print('BBB')

BBB

In [2]:
def test_copy():
    a = [1, 2, 3]
    b = [4, 5, 6]
    c = [a, b]
    # normal euqal
    d = c
    print(id(c) == id(d))          # True - d is the same object as c
    print(id(c[0]) == id(d[0]))    # True - d[0] is the same object as c[0]
    
    #copy
    d = copy.copy(c)
    print(id(c) == id(d))          # False - d is now a new object
    print(id(c[0]) == id(d[0]))    # True - d[0] is the same object as c[0]

    #deep copy
    d = copy.deepcopy(c)
    print(id(c) == id(d))         # False - d is now a new object
    print(id(c[0]) == id(d[0]))   # False - d[0] is now a new object

test_copy()

True
True
False
True
False
False

In [17]:
" and ".join(["A = '1'", "B = 1234"])
#" and ".join(["A = '1'"])
s = set([])
repr(s)

'set()'

In [2]:
import pandas as pd

In [6]:
meta_test = [
        {
            "db": "hr_pii",
            "tab": "performance",
            "col": "attendence",
            "norm_col_name": "age",
            "norm_col_score": 2
        },
        {
            "db": "TestDB",
            "tab": "birthday",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "mail",
            "norm_col_name": "email",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "ethnic",
            "norm_col_name": "ethnic",
            "norm_col_score": 3
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "version_build",
            "norm_col_name": "version_build",
            "norm_col_score": 3
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "version_major",
            "norm_col_name": "age",
            "norm_col_score": 2
        },
        {
            "db": "TestDB",
            "tab": "phone",
            "col": "name",
            "norm_col_name": "first_name",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "performance",
            "col": "KPI",
            "norm_col_name": "KPI",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "politics",
            "norm_col_name": "politics",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "name",
            "norm_col_name": "full_name",
            "norm_col_score": 1
        },
        {
            "db": "TestDB",
            "tab": "birthday",
            "col": "name",
            "norm_col_name": "first_name",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "performance",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "zipcode",
            "norm_col_name": "postcode",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "sexual",
            "norm_col_name": "sexual",
            "norm_col_score": 3
        },
        {
            "db": "TestDB",
            "tab": "phone",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "version_revision",
            "norm_col_name": "age",
            "norm_col_score": 2
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "version_minor",
            "norm_col_name": "version_minor",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "religion",
            "norm_col_name": "religion",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "health",
            "norm_col_name": "health",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "state",
            "norm_col_name": "state",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "key_table",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "performance",
            "col": "bonus",
            "norm_col_name": "bonus",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "name",
            "norm_col_name": "full_name",
            "norm_col_score": 1
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "version_string",
            "norm_col_name": "version_string",
            "norm_col_score": 3
        },
        {
            "db": "TestDB",
            "tab": "birthday",
            "col": "birthday",
            "norm_col_name": "date_of_birth",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "city",
            "norm_col_name": "city",
            "norm_col_score": 2
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "race",
            "norm_col_name": "last_name",
            "norm_col_score": 2
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "blood_group",
            "norm_col_name": "blood_group",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "trade_union",
            "norm_col_name": "trade_union",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "job",
            "norm_col_name": "job",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "sex",
            "norm_col_name": "gender",
            "norm_col_score": 1
        },
        {
            "db": "TestDB",
            "tab": "ssn",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        },
        {
            "db": "TestDB",
            "tab": "phone",
            "col": "number",
            "norm_col_name": "number",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "phone",
            "norm_col_name": "contact_number",
            "norm_col_score": 1
        },
        {
            "db": "msdb",
            "tab": "msdb_version",
            "col": "id",
            "norm_col_name": "id",
            "norm_col_score": 3
        },
        {
            "db": "hr_pii",
            "tab": "employee",
            "col": "birthday",
            "norm_col_name": "date_of_birth",
            "norm_col_score": 2
        },
        {
            "db": "hr_pii",
            "tab": "payment",
            "col": "ssn",
            "norm_col_name": "identification_number",
            "norm_col_score": 1
        }
    ]

In [33]:
def _get_nested_sqlmeta(meta):
    #if meta:
    df = pd.DataFrame(meta).drop_duplicates(subset=None, keep='first')
    #nested on column level
    df = df.groupby(['db', 'tab'], as_index=False) \
            .apply(lambda x: x[['col', 'norm_col_name', 'norm_col_score']].to_dict('r')) \
            .reset_index() \
            .rename(columns={0:'cols'})
    #nested on table level
    df = df.groupby('db', as_index=True) \
            .apply(lambda x: x[['tab', 'cols']].to_dict('r')) \
            .reset_index() \
            .rename(columns={0: 'tables'})
    return df

In [34]:
df_test = _get_nested_sqlmeta(meta_test)
print(df_test.to_dict('r'))
df_test

[{'db': 'TestDB', 'tables': [{'tab': 'birthday', 'cols': [{'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}, {'col': 'name', 'norm_col_name': 'first_name', 'norm_col_score': 1}, {'col': 'birthday', 'norm_col_name': 'date_of_birth', 'norm_col_score': 3}]}, {'tab': 'phone', 'cols': [{'col': 'name', 'norm_col_name': 'first_name', 'norm_col_score': 1}, {'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}, {'col': 'number', 'norm_col_name': 'number', 'norm_col_score': 3}]}, {'tab': 'ssn', 'cols': [{'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}]}]}, {'db': 'hr_pii', 'tables': [{'tab': 'employee', 'cols': [{'col': 'mail', 'norm_col_name': 'email', 'norm_col_score': 1}, {'col': 'ethnic', 'norm_col_name': 'ethnic', 'norm_col_score': 3}, {'col': 'politics', 'norm_col_name': 'politics', 'norm_col_score': 3}, {'col': 'name', 'norm_col_name': 'full_name', 'norm_col_score': 1}, {'col': 'sexual', 'norm_col_name': 'sexual', 'norm_col_score': 3}, {'col': 'religion', 'norm_col_name': 'religion', 'norm_col_score': 3}, {'col': 'health', 'norm_col_name': 'health', 'norm_col_score': 3}, {'col': 'race', 'norm_col_name': 'last_name', 'norm_col_score': 2}, {'col': 'blood_group', 'norm_col_name': 'blood_group', 'norm_col_score': 3}, {'col': 'trade_union', 'norm_col_name': 'trade_union', 'norm_col_score': 3}, {'col': 'sex', 'norm_col_name': 'gender', 'norm_col_score': 1}, {'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}, {'col': 'phone', 'norm_col_name': 'contact_number', 'norm_col_score': 1}, {'col': 'birthday', 'norm_col_name': 'date_of_birth', 'norm_col_score': 2}]}, {'tab': 'key_table', 'cols': [{'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}]}, {'tab': 'payment', 'cols': [{'col': 'zipcode', 'norm_col_name': 'postcode', 'norm_col_score': 1}, {'col': 'state', 'norm_col_name': 'state', 'norm_col_score': 1}, {'col': 'name', 'norm_col_name': 'full_name', 'norm_col_score': 1}, {'col': 'city', 'norm_col_name': 'city', 'norm_col_score': 2}, {'col': 'job', 'norm_col_name': 'job', 'norm_col_score': 3}, {'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}]}, {'tab': 'performance', 'cols': [{'col': 'attendence', 'norm_col_name': 'age', 'norm_col_score': 2}, {'col': 'KPI', 'norm_col_name': 'KPI', 'norm_col_score': 3}, {'col': 'ssn', 'norm_col_name': 'identification_number', 'norm_col_score': 1}, {'col': 'bonus', 'norm_col_name': 'bonus', 'norm_col_score': 3}]}]}, {'db': 'msdb', 'tables': [{'tab': 'msdb_version', 'cols': [{'col': 'version_build', 'norm_col_name': 'version_build', 'norm_col_score': 3}, {'col': 'version_major', 'norm_col_name': 'age', 'norm_col_score': 2}, {'col': 'version_revision', 'norm_col_name': 'age', 'norm_col_score': 2}, {'col': 'version_minor', 'norm_col_name': 'version_minor', 'norm_col_score': 3}, {'col': 'version_string', 'norm_col_name': 'version_string', 'norm_col_score': 3}, {'col': 'id', 'norm_col_name': 'id', 'norm_col_score': 3}]}]}]

       db                                             tables
0  TestDB  [{'tab': 'birthday', 'cols': [{'col': 'ssn', '...
1  hr_pii  [{'tab': 'employee', 'cols': [{'col': 'mail', ...
2    msdb  [{'tab': 'msdb_version', 'cols': [{'col': 'ver...

In [10]:
from enum import Enum
class ServiceClass(Enum):
    DB = [1, 2]
    FILE = [3, 4, 6]
    
print( '(' + ','.join(str(st) for st in ServiceClass['DB'].value) + ')')

(1,2)

### End of this file