In [1]:
import re
import sys

import numpy as np
import pandas as pd

#from protoutils import logs_format_pb2

In [3]:
#pii_ie.log
import ast
import json


#'''
def parse_pii_port(pii_port_str=''):
    res = pii_port_str.split('/')
    return res[0]

res = parse_pii_port('80/tcp')
res = parse_pii_port('')
    
def parse_piiie_list(piiie_json_str):
    if not isinstance(piiie_json_str, str):
        return []

    res = []
    piiie_json_list = ast.literal_eval(piiie_json_str)
    print(piiie_json_list)
    for piiie_json_str_one in piiie_json_list:
        if not isinstance(piiie_json_str_one, str):
            continue
        piiie_dict = json.loads(piiie_json_str_one)
        piiie_field_list = piiie_dict['piiItems']
        for piiie_field in piiie_field_list:
            if 'value' in piiie_field.keys():
                res.append(piiie_field['fieldName'])
    #TODO, Do we really want to remove duplication???
    res = list(set(res))
    return res

test_piiie_list = b'\\n\\xa8\\x01\\n\\x18\\x08\\x11\\x18\\x01\"\\x12davef23@hotmai.com\\n\\x10\\x08\\r\\x18\\x01\"\\nth fremont\\n\\x04\\x08\\x10\\x18\\x01\\n\\x10\\x08\\x07\\x18\\x01\"\\n06 28 1971\\n\\x04\\x08\\x15\\x18\\x01\\n\\x04\\x08\\x01\\x18\\x01\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x0f\\x08\\x08\\x18\\x01\"\\t923920934\\n\\x08\\x08\\x0e\\x18\\x01\"\\x02ca\\n\\x15\\x08\\x0b\\x18\\x01\"\\x0f323 foster road\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\n\\x91\\x01\\n\\x18\\x08\\x11\\x18\\x01\"\\x12elonmusk@tesla.com\\n\\x0f\\x08\\r\\x18\\x01\"\\tpalo alto\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0c\\x08\\x01\\x18\\x01\"\\x06mattie\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x12\\x08\\x0b\\x18\\x01\"\\x0c650-923-6283\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nx\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0b\\x08\\x01\\x18\\x01\"\\x05david\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x19\\x08\\x0b\\x18\\x01\"\\x134180 el camino real\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04nike\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nc\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0b\\x08\\x01\\x18\\x01\"\\x05reeve\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04elon\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04musk\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02'
#test_piiie_list = "b'\\n\\xa8\\x01\\n\\x18\\x08\\x11\\x18\\x01\"\\x12davef23@hotmai.com\\n\\x10\\x08\\r\\x18\\x01\"\\nth fremont\\n\\x04\\x08\\x10\\x18\\x01\\n\\x10\\x08\\x07\\x18\\x01\"\\n06 28 1971\\n\\x04\\x08\\x15\\x18\\x01\\n\\x04\\x08\\x01\\x18\\x01\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x0f\\x08\\x08\\x18\\x01\"\\t923920934\\n\\x08\\x08\\x0e\\x18\\x01\"\\x02ca\\n\\x15\\x08\\x0b\\x18\\x01\"\\x0f323 foster road\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\n\\x91\\x01\\n\\x18\\x08\\x11\\x18\\x01\"\\x12elonmusk@tesla.com\\n\\x0f\\x08\\r\\x18\\x01\"\\tpalo alto\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0c\\x08\\x01\\x18\\x01\"\\x06mattie\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x12\\x08\\x0b\\x18\\x01\"\\x0c650-923-6283\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nx\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0b\\x08\\x01\\x18\\x01\"\\x05david\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x19\\x08\\x0b\\x18\\x01\"\\x134180 el camino real\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04nike\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nc\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\x0b\\x08\\x01\\x18\\x01\"\\x05reeve\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04elon\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02\\nb\\n\\x04\\x08\\x11\\x18\\x01\\n\\x04\\x08\\r\\x18\\x01\\n\\x04\\x08\\x10\\x18\\x01\\n\\x04\\x08\\x07\\x18\\x01\\n\\x04\\x08\\x15\\x18\\x01\\n\\n\\x08\\x01\\x18\\x01\"\\x04musk\\n\\x04\\x08\\x04\\x18\\x01\\n\\x04\\x08\\x02\\x18\\x01\\n\\x04\\x08\\x03\\x18\\x01\\n\\x04\\x08\\x14\\x18\\x01\\n\\x04\\x08\\x08\\x18\\x01\\n\\x04\\x08\\x0e\\x18\\x01\\n\\x04\\x08\\x0b\\x18\\x01\\n\\x04\\x08\\x0f\\x18\\x01\\x12\\x02\\x08\\x01\\x12\\x02\\x08\\x02'"
#test_piiie_list = "[\u0027{\u005cn  \u0022piiItems\u0022: [\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022ADDRESS\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022CITY\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022palo alto\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022COUNTRY\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022DATE_OF_BIRTH\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u002206 28 1971\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022EMAIL\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022elonmuskteslacom\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022FIRST_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022david\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022FULL_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022LAST_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022nike\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022MIDDLE_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022reeve\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022PHONE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022650-923-6283\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022SOCIAL_SECURITY_NUMBER\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022923920934\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022STATE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022STREET_NUMBER_AND_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022323 foster road\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022ZIP_CODE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    }\u005cn  ]\u005cn}\u0027, \u0027{\u005cn  \u0022piiItems\u0022: [\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022ADDRESS\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022CITY\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022th fremont\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022COUNTRY\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022DATE_OF_BIRTH\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022EMAIL\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022davef23hotmaicom\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022FIRST_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022elon\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022FULL_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022LAST_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022musk\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022MIDDLE_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u0022mattie\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022PHONE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022SOCIAL_SECURITY_NUMBER\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022STATE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022STREET_NUMBER_AND_NAME\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022,\u005cn      \u0022value\u0022: \u00224180 el camino real\u0022\u005cn    },\u005cn    {\u005cn      \u0022fieldName\u0022: \u0022ZIP_CODE\u0022,\u005cn      \u0022lang\u0022: \u0022ENGLISH\u0022\u005cn    }\u005cn  ]\u005cn}\u0027]"
test_res = parse_piiie_list(test_piiie_list)
print(test_res)
#'''

[]

In [2]:
#source_dir = '../data/brologs/03-22-13/'
source_dir = '../data/brologs/03-28/'

In [3]:
df_conn = pd.read_json(source_dir + 'conn.log', lines=True)
df_conn.head()

,conn_state,duration,history,id.orig_h,id.orig_p,id.resp_h,id.resp_p,missed_bytes,orig_bytes,orig_ip_bytes,orig_pkts,proto,resp_bytes,resp_ip_bytes,resp_pkts,service,ts,tunnel_parents,uid
0,S0,0.303727,SAD,172.16.12.145,50300,172.16.3.113,443,0,3071.0,7206,26,tcp,0.0,0,0,ssl,1.522299e+09,[],Cz0iTB28Yx00hUi2Q
1,S0,0.123335,SAD,172.16.12.145,50302,172.16.3.113,443,0,2054.0,5092,24,tcp,0.0,0,0,ssl,1.522299e+09,[],C31xRcwyEyrKAun6
2,OTH,0.036612,HDA,172.16.3.112,444,172.16.3.121,15422,0,1031.0,2806,18,tcp,0.0,0,0,NaN,1.522299e+09,[],CYPie11CjQc5eycbef
3,SH,0.010424,HDAF,172.16.3.112,444,172.16.3.121,15421,0,671.0,1766,10,tcp,0.0,0,0,NaN,1.522299e+09,[],C7byh83oPKJFxrSei1
4,OTH,0.033964,HDA,172.16.3.112,444,172.16.3.121,15423,0,149.0,802,12,tcp,0.0,0,0,NaN,1.522299e+09,[],CfI5XG2XuleY5d9vmh

In [4]:
df_tds = pd.read_json(source_dir + 'tds.log', lines=True)
df_tds.head()

,id.orig_h,id.orig_p,id.resp_h,id.resp_p,tdstype,ts,uid
0,172.16.18.44,49422,172.16.3.123,1433,0,1.522299e+09,CT6t7z44g01KGvkPyl
1,172.16.15.187,53504,172.16.3.123,1433,0,1.522299e+09,Cc2fWn3GQ0q4YTkHw2
2,172.16.3.216,42189,172.16.3.104,1433,1,1.522299e+09,Coc9F82VNHQjPrt6bg
3,172.16.6.23,49529,172.16.3.123,1433,0,1.522299e+09,C7LDvOPU3fMo1Kphe
4,172.16.9.29,54045,172.16.3.123,1433,0,1.522299e+09,Caz5vK2PPb7ml4RgHd

In [5]:
df_tds.groupby('id.orig_h')['uid'].nunique()

id.orig_h
172.16.1.122      8
172.16.1.173     36
172.16.1.205     20
172.16.1.206      8
172.16.15.126    15
172.16.15.13      7
172.16.15.160     5
172.16.15.165     9
172.16.15.166     8
172.16.15.168    12
172.16.15.187     7
172.16.15.20      9
172.16.15.51      5
172.16.15.64      7
172.16.15.71      5
172.16.18.126     7
172.16.18.127     9
172.16.18.129     8
172.16.18.34     12
172.16.18.36      8
172.16.18.39      8
172.16.18.44      7
172.16.18.96     12
172.16.3.104      2
172.16.3.105     31
172.16.3.106     41
172.16.3.108     36
172.16.3.157      1
172.16.3.216      6
172.16.3.220      4
172.16.3.83      36
172.16.3.95       1
172.16.3.98       4
172.16.4.21       1
172.16.4.34       4
172.16.4.40      12
172.16.6.147      1
172.16.6.150      9
172.16.6.152      9
172.16.6.159      9
172.16.6.191      6
172.16.6.23      12
172.16.6.28      12
172.16.6.37       3
172.16.6.40      11
172.16.9.29      13
172.16.9.37      11
Name: uid, dtype: int64

In [6]:
df_tds_sqlbatch = pd.read_json(source_dir + 'tds_sqlbatch.log', lines=True)
df_tds_sqlbatch.head()

,id.orig_h,id.orig_p,id.resp_h,id.resp_p,sqlbatch,ts,uid
0,172.16.3.216,42189,172.16.3.104,1433,select a.dat,1.522299e+09,Coc9F82VNHQjPrt6bg
1,172.16.3.106,51300,172.16.3.104,1433,SELECT TOP 1 * FROM [INTClient,1.522299e+09,CExN993pXqD7PUprz
2,172.16.3.106,51301,172.16.3.123,1433,SELECT TOP 1 * FROM [User,1.522299e+09,C8Wlb426PMMj1m4iol
3,172.16.4.34,60712,172.16.3.123,1433,SELECT COUNT(0) FROM INFORMATION_SCHEMA.ROUTIN...,1.522299e+09,CGwApb3BQvv4DLFjlh
4,172.16.3.157,52101,172.16.3.104,1433,SELECT INTCashTransferIntraday.* FROM INTCashT...,1.522299e+09,C9AGb93oF9NKtqjGSa

In [7]:
df_tds_sqlbatch.groupby('uid')['id.orig_h'].nunique()

uid
C3EZTt1sLyjSSbtCw7    1
C4iecS5IVtSzcRH46     1
C5kO1TrlcDqPcygrc     1
C8Wlb426PMMj1m4iol    1
C9AGb93oF9NKtqjGSa    1
C9EtA91ps6T6wHHXM7    1
C9HGgD3wPdpbg73mJ4    1
CA04Cqs8LjSUUlSv5     1
CCfBu24NcF9a2teye2    1
CD7MSp230Envwu123l    1
CDASgSxR8UzaYLey3     1
CDUhZc26DapCfRovy7    1
CESTbx3GhAIzGqNSN4    1
CExN993pXqD7PUprz     1
CGSRDa2TcCAHJampDl    1
CGwApb3BQvv4DLFjlh    1
CHYiMl1eS9q6GG6in3    1
CIMYej3tAEgjxLtOHd    1
CJUIs52QV1BhSsvwf     1
CJZZ3k4M7E6XElt25d    1
CJv0HO2L9uXpXbFU3j    1
CLjOGkhoItLNbXkGe     1
CNGZeh1SeLKeEZ3MI9    1
CNle1NPxs4hoFUjN2     1
CO7TZs4WU9JkT7XCLc    1
COcKCH35HDheRZHCT1    1
CRPcsA4bK3sayP9dOk    1
CSIMgB1X9MCvdZRa9c    1
CSpkfk4tBTrV4ZDMnh    1
CUuJw2lp88ixyLGp9     1
CV4Am94kxVkpU3gpjh    1
CXCVSz4WCURacnya05    1
CXDJHU37D97KSpzbl9    1
CYPliH33UfQKrpGSw4    1
CYnlAc33jJW5lUYtIj    1
CYwPfxTO5YzUkKGQb     1
CZLm9xBKImvup07v2     1
CabNgd2RwGPZhjc1Ec    1
Cbnu6s4K5p4b4JGpM6    1
Ccpe6boGYX1B7UVe      1
CgpMTB2NiQlDnTai34    1
Ci8Uxx2gUqqKsBFyg2    1
Ckt0Uzsv0s3p1Rahj     1
Cl3e5A1wuyhzdycj9f    1
ClEcD94kdJgTQR3K      1
ClNJp11ZMX2KUBLff5    1
ClVVziGdYWm83mbhj     1
CmSTUeFZZLbBzU4Wi     1
Cmg83n2YLSjeTGq7uc    1
Cnspte19PVWR2RvJjg    1
Coc9F82VNHQjPrt6bg    1
CpBIfO1ns6NOLZq4a5    1
CrwZcw1g91NrDDGxPb    1
CsaiMD4q63yCSwnDKd    1
CtMOKi3zrbnCgt3L54    1
CuXEEP3Gkfw59CAE61    1
Cv9CqL1of3iYPAdg38    1
CvgqcE4bG1czJzOlje    1
CxjfLu3NZDlPaZrDIj    1
Name: id.orig_h, dtype: int64

In [8]:
# use regex to get column names and table name
# need to make sure if "all" SQL do not care about the lower case or upper case
def getPII_colnames(sqlquery):
    #print(sqlquery.lower())
    pattern_list = [
        "(?<=select )(.*?)(?= from)", # case 1, between select and from
        "(?<=where )(.*?)(?=\>|\<|\=|between|like|in|is)", # case 2, where a > a0 and/or b > b0, https://www.w3schools.com/sql/sql_where.asp
        "(?<=and )(.*?)(?=\>|\<|\=|between|like|in|is)", # case 2, where a > a0 and/or b > b0, https://www.w3schools.com/sql/sql_where.asp
        "(?<=or )(.*?)(?=\>|\<|\=|between|like|in|is)", # case 2, where a > a0 and/or b > b0, https://www.w3schools.com/sql/sql_where.asp
    ]
    colnames = []
    for pattern in pattern_list:
        thiscolnames = [x.split(',') for x in re.findall(pattern, sqlquery)]
        
        for x in thiscolnames:
            colnames += x
        
    #post polishing... 
    #strip space...
    #remove wildcard???
    colnames = [x.strip(' ') for x in colnames]
    colnames = [x.split('.')[-1] for x in colnames]
    #return colnames
    return list(set(colnames))

def getPII_tabnames(sqlquery):
    pattern_list = [
        "(?<=from )(.*?)(?=\r| |\;)", # case 1, after from and before space or next line
        "(?<=join )(.*?)(?=on)", # case 2, join table on...
    ]
    tabnames = []
    for pattern in pattern_list:
        tabnames += re.findall(pattern, sqlquery)
        
    #post polishing... 
    #strip space...
    tabnames = [x.strip(' ') for x in tabnames]
    return tabnames

testsqlquery = "SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate FROM Orders INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;"
#testsqlquery = "select * from EXT_ORDER_NEW\u000d\u000aWhere UPDSTATUS IS NULL"
#testsqlquery = "select orderid, orderdate, ordertime, stockcode, barcode, bs, acctype, ordertype, oqty, oprice, reqtype, updstatus, processtime, oldorderid, reqid, accno, modda, modui, insda, insui from EXT_ORDER_NEW;"
#testsqlquery = "select orderid, stockcode, barcode, bs, acctype, ordertype, oqty, oprice, reqtype, updstatus, processtime, oldorderid, reqid, accno, modda, modui, insda, insui from EXT_ORDER_NEW Where UPDSTATUS IS NULL where orderdate > yyyy-mm-dd and ordertime > hh:mm:ss"

print(getPII_colnames(testsqlquery.lower()))
print(getPII_tabnames(testsqlquery.lower()))

['customername', 'orderdate', 'orderid']
['orders', 'customers']

### End of the file